<?xml version="1.0"?>
<config>

  <hero posX="-7.5" posY="1.0" posZ="7.5" />

  <hostage>

    <hostage_positions>

      <position posX="9.5" posY="1.0" posZ="-9.5" />

    </hostage_positions>

  </hostage>

  <map>

    <piece posX="-7.5" posY="1.0" posZ="7.5" width="4.0" height="5.0">

      <routes>

        <route id="1" closed="true" proximity="2.0">
          <points>
            <point id="1" posX="-14.5" posY="1" posZ="-1.0" />
            <point id="2" posX="-1.5" posY="1" posZ="-1.0" />
            <point id="3" posX="-1.5" posY="1" posZ="14.5" />
            <point id="4" posX="-14.5" posY="1" posZ="14.5" />
          </points>
        </route>

      </routes>

    </piece>

    <piece posX="1" posY="2" posZ="3" width="4" height="5">

      <routes>

        <route id="2" closed="false" proximity="1.5">
          <points>
            <point id="1" posX="13.5" posY="1" posZ="13.5" />
            <point id="2" posX="6.5" posY="1" posZ="13.5" />
            <point id="3" posX="6.5" posY="1" posZ="8.5" />
            <point id="4" posX="12.5" posY="1" posZ="8.5" />
            <point id="5" posX="12.5" posY="1" posZ="3.5" />
            <point id="6" posX="2.5" posY="1" posZ="3.5" />
            <point id="7" posX="2.5" posY="1" posZ="12.5" />
          </points>
        </route>

      </routes>

    </piece>

  </map>

</config>

