# Interface
[Bootstrap]
Zip=../media/SdkTrays.zip

# Media
[General]
FileSystem=../media
FileSystem=../media/audio
FileSystem=../media/materials
FileSystem=../media/materials/scripts
FileSystem=../media/materials/textures
FileSystem=../media/models
