template element TextArea(Plantillas/Tiempo)
{
    font_name HighSpeed
                metrics_mode pixels
                char_height 64
                colour 1.0 1.0 0.0
}

template element TextArea(Plantillas/MejorTiempo)
{
    font_name HighSpeed
                metrics_mode pixels
                char_height 36
                colour 1.0 1.0 0.0
}

template element TextArea(Plantillas/Velocidad)
{
    font_name Computerfont
                metrics_mode pixels
                char_height 20
                colour 1.0 1.0 0.0
}

GUI_Game
{
    zorder 500

    container Panel(Panel_MejorTiempo_Game)
    {
        metrics_mode pixels
        left -216 
        top 10
        width 206
        height 83
        horz_align right
        vert_align top
        material Game/MejorTiempo 

        element TextArea(txtMejorTiempo) : Plantillas/MejorTiempo
        {
          top 12
          left 10
        }
     }

    container Panel(Panel_Tiempo_Game)
    {
        metrics_mode pixels
        left 10 
        top 10
        width 206
        height 83
        vert_align top
        material Game/Tiempo

        element TextArea(txtTiempo) : Plantillas/Tiempo
        {
          top 10
          left 10
        }
     }

    container Panel(Panel_Titulo_Game)
    {
        metrics_mode pixels
        left -91 
        top 15
        width 182
        height 70
        horz_align center
        vert_align top
        material Game/Titulo
     }

    container Panel(Panel_Velocidad5_Game)
    {
        metrics_mode pixels
        left -65
        top 300
        width 55
        height 106
        horz_align right
        vert_align top
        material Game/Velocidad5
        alignment center
        element TextArea(txtVelocidad5) : Plantillas/Velocidad
        {
          top 80 
        }
     }

    container Panel(Panel_Velocidad4_Game)
    {
        metrics_mode pixels
        left -65
        top 300 
        width 55
        height 106
        horz_align right
        vert_align top
        material Game/Velocidad4
        alignment center
        element TextArea(txtVelocidad4) : Plantillas/Velocidad
        {
          top 80 
        }
     }

    container Panel(Panel_Velocidad3_Game)
    {
        metrics_mode pixels
        left -65
        top 300
        width 55
        height 106
        horz_align right
        vert_align top
        material Game/Velocidad3
        alignment center
        element TextArea(txtVelocidad3) : Plantillas/Velocidad
        {
          top 80
        }
     }

    container Panel(Panel_Velocidad2_Game)
    {
        metrics_mode pixels
        left -65
        top 300
        width 55
        height 106
        horz_align right
        vert_align top
        material Game/Velocidad2
        alignment center
        element TextArea(txtVelocidad2) : Plantillas/Velocidad
        {
          top 80
        }
     }

    container Panel(Panel_Velocidad1_Game)
    {
        metrics_mode pixels
        left -65
        top 300
        width 55
        height 106
        horz_align right
        vert_align top
        material Game/Velocidad1
        alignment center
        element TextArea(txtVelocidad1) : Plantillas/Velocidad
        {
          top 80
        }
     }

    container Panel(Panel_Velocidad0_Game)
    {
        metrics_mode pixels
        left -65
        top 300
        width 55
        height 106
        horz_align right
        vert_align top
        material Game/Velocidad0
        alignment center
        element TextArea(txtVelocidad0) : Plantillas/Velocidad
        {
          top 80
        }
     }

}

Background_Menu
{
    zorder 0
    container Panel(Panel_Background_Menu) 
    {
		top -512 
		left -640
        width 1280
        height 1024
                horz_align top
                vert_align left
        material Menu/Background
    }
}

GUI_Menu
{
    container Panel(Panel_Titulo_Menu)
    {
        metrics_mode pixels
        left -91
        top 15
        width 182
        height 70
        horz_align center
        vert_align top
        material Game/Titulo
     }
}

