template element TextArea(Plantillas/Tiempo)
{
    font_name SpaceOut
                metrics_mode pixels
                char_height 64
                colour 1.0 1.0 0.0
}

template element TextArea(Plantillas/MejorTiempo)
{
    font_name SpaceOut
                metrics_mode pixels
                char_height 36
                colour 1.0 1.0 0.0
}

GUI_Game
{
    zorder 500

    container Panel(Panel_MejorTiempo_Game)
    {
        metrics_mode pixels
        left -216 
        top 10
        width 206
        height 83
        horz_align right
        vert_align top
        material Game/MejorTiempo 

        element TextArea(txtMejorTiempo) : Plantillas/MejorTiempo
        {
          top 12
          left 10
        }
     }

    container Panel(Panel_Tiempo_Game)
    {
        metrics_mode pixels
        left 10 
        top 10
        width 206
        height 83
        vert_align top
        material Game/Tiempo

        element TextArea(txtTiempo) : Plantillas/Tiempo
        {
          top 10
          left 10
        }
     }

    container Panel(Panel_Titulo_Game)
    {
        metrics_mode pixels
        left -91 
        top 15
        width 182
        height 70
        horz_align center
        vert_align top
        material Game/Titulo
     }

}

Background_Menu
{
    zorder 0
    container Panel(Panel_Background_Menu) 
    {
		top -512 
		left -640
        width 1280
        height 1024
                horz_align top
                vert_align left
        material Menu/Background
    }
}

GUI_Menu
{
    container Panel(Panel_Titulo_Menu)
    {
        metrics_mode pixels
        left -91
        top 15
        width 182
        height 70
        horz_align center
        vert_align top
        material Game/Titulo
     }
}

