Background_Menu
{
    zorder 0

    container Panel(Panel_Background_Menu)
    {
        metrics_mode pixels
		top 0
		left 0
        width 1024
        height 768
        horz_align left
        vert_align top
        material Menu/Background
    }
}

GUI_Menu
{
    container Panel(Panel_Titulo_Menu)
    {
        metrics_mode pixels
        left -175
        top 15
        width 350
        height 113
        horz_align center
        vert_align top
        material Game/Titulo
     }
}

Creditos_Menu
{
    container Panel(Panel_Creditos_Menu)
    {
        metrics_mode pixels
        top 0
        left 0
        width 1024
        height 768
        horz_align left
        vert_align top
        material Menu/Creditos
    }
}

GUI_Game
{
    zorder 500

    container Panel(Panel_Titulo_Game)
    {
        metrics_mode pixels
        left -56
        top 15
        width 350
        height 113
        horz_align center
        vert_align top
        material Game/Titulo
     }

}

